.box1{
    background-color: Blue;
     height: 120px;
}
.redes{
    font-size: 50px !important;
     color: white;
}
.text{
    color: white;
}
.box2{
    background-color: black;
     height: 60px;
}
.box3{
    color: white;
}