.caixa{
    background-color: blue;
}
.postagens{
    background-color: black;
    font-weight: bold; 
}
.titulo{
    background-color: blue;
    font-weight: white !important; 
}
.botao{
    
    border-color: black;
    background-color: black;
    color: black;
}